@model Contact


<div class="container">
<div class="row">
    <div class="col-md-8">
		
        <img asp-append-version="true" class="img-thumbnail img-responsive" width="600" height="800"
                         src="~/images/girl.png" />
					</div>
    <div class="col-md-4">
<h3 class="text-center red">contact us</h3>
						<h1>Let`s talk</h1>
<form asp-action="Contact" >
<p class="paragraph">Manage your account detailes <br>Order tracking &amp; History </p>

    <div class="form-group">
                <input asp-for="@Model.Name" class="form-control" placeholder=" name" />
                <span asp-validation-for="@Model.Name" class="text-danger" ></span>
            </div>

    <div class="form-group">
                <input type="email" asp-for="@Model.Email" class="form-control" placeholder="example@example.com"/>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

    <div class="form-group">
                <input asp-for="@Model.Supject" class="form-control" placeholder="supject" />
                <span asp-validation-for="@Model.Supject" class="text-danger"></span>
            </div>
    
    <div class="form-group">
                <textarea asp-for="@Model.Message" class="form-control" placeholder="Message" rows="3" required="" data-error="Please, write us a message."></textarea>
                <span asp-validation-for="@Model.Message" class="text-danger"></span>
            </div>
        <div class="form-group">
          <input type="submit" class="btn btn-secondary btn-md form-control" value="Send"
            >
        </div>
     

</form>
    </div>
</div>
</div>