@model Product
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "ProductDetails";
}

<h1>Product Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-7 col-sm-10 clearfix">
            <img asp-append-version="true" class="img-thumbnail img-responsive" width="600" height="800"
                 src="~/images/products/@Model.ImageUrl" />
        </div>
        <div class="col-md-5 col-sm-10 clearfix">
            <h1 class="lead text-center text-capitalize font-weight-bold py-3">
                @Model.Name
            </h1>
            @if (SignInManager.IsSignedIn(User))
            {
            <a asp-action="Add" asp-controller="Favorits" asp-route-productId="@Model.ProductID"
               class="btn btn-outline-danger text-right">Add To Favorits List</a>
            }

            <h3 class="text-left">
                Specifications:
            </h3>
            <p class="lead">@Model.Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <hr />
            <p class="lead text-capitalize text-muted">
                More Item From this market:   <a asp-action="MarketProducts" asp-Controller="Home" asp-route-id="@Model.MarketId"><span class="badge badge-danger ml-2 p-2">@Model.Market.MarketName</span></a>
            </p>
            <p class="lead text-capitalize text-muted">
                category: <a asp-action="List" asp-controller="Home" asp-route-category="@Model.Category.CategoryName"><span class="badge badge-success m-2 p-2">@Model.Category.CategoryName</span></a>
                Section: <a asp-action="List" asp-controller="Home" asp-route-section="@Model.Type"><span class="badge badge-primary m-2 p-2">@Model.Type</span></a>
            </p>
            <hr />
            <div class="badge badge-pill badge-warning p-3 m-3" style="float:left">
                Price:
                @if (Model.Discount > 0)
                {
                    <h6>save @Model.Discount %</h6>
                    <del class="text-muted  badge badge-light">@Model.Price.ToString("c")</del>
                    <span class="badge badge-danger text-truncat"> @Model.SalePrice.ToString("c")</span>


                }
                else
                {


                    <h6>@Model.Price.ToString("c")</h6>

                }

            </div>

            <div class="text-right">

                <form id="@Model.ProductID" asp-action="AddToCart"
                      asp-controller="Cart" method="post">
                    <input type="hidden" asp-for="ProductID" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <span class="card-text p-1">
                        <button type="submit"
                                class="btn btn-outline-danger btn-lg m-3 p-3 pull-right " style="float:right">
                            Add To Cart
                        </button>
                    </span>
                </form>
            </div>

        </div>

    </div>
</div>

